In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("attacks.csv", encoding = "latin-1")

In [5]:
#from pandas_profiling import ProfileReport
#profile = ProfileReport(df, explorative=True,title='Sharks Exploratory Analysis')
#profile

In [8]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

(25723, 24)

In [13]:
df["Age"].notnull().sum()

3471

In [18]:
for col in df.columns.tolist():
    print(df.columns.tolist().index(col), col, df[col].notnull().sum(), df[col].dtype)

0 Case Number 8702 object
1 Date 6302 object
2 Year 6300 float64
3 Type 6298 object
4 Country 6252 object
5 Area 5847 object
6 Location 5762 object
7 Activity 5758 object
8 Name 6092 object
9 Sex  5737 object
10 Age 3471 object
11 Injury 6274 object
12 Fatal (Y/N) 5763 object
13 Time 2948 object
14 Species  3464 object
15 Investigator or Source 6285 object
16 pdf 6302 object
17 href formula 6301 object
18 href 6302 object
19 Case Number.1 6302 object
20 Case Number.2 6302 object
21 original order 6309 float64
22 Unnamed: 22 1 object
23 Unnamed: 23 2 object